.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
}

#sel_modal {
    background-color: #fefefe;
    /* margin: 4% auto; */
    padding: 20px;
    border: 1px solid #888;
    transform: translate(622px, 249px);
    width: 38%;
    min-height: 36%;
    border-radius: 2rem;
}
.close-btn {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: normal;
    transform: translate(657px, -7px);
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#to_modal {
    background-color: #fefefe;
    /* margin: 4% auto; */
    padding: 20px;
    border: 1px solid #888;
    transform: translate(622px, 249px);
    width: 38%;
    min-height: 36%;
    border-radius: 2rem;
}
.close-btn2 {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: normal;
    transform: translate(660px, -12px);
    cursor: pointer;
    
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#peo_modal {
    background-color: #fefefe;
/*     margin: 4% auto;
 */    padding: 20px;
    border: 1px solid #888;
    transform: translate(635px, 184px);
    width: 33%;
    height: 49%;
    border-radius: 2rem;
}
.close-btn3 {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: normal;
    transform: translate(558px, -12px);
    cursor: pointer;
    
    
}
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: text;
}
.PassFont{
	font-family: cursive;
	font-size: 22px;
	font-weight: bold;
	transform: translate(3px, -46px);
	padding: 0%;
	margin: 0%;
	width: 82px;
}
.adC{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	transform: translate(3px, -46px);
}
.adultCount{
	font-family: sans-serif;
	font-size: 21px;
	font-weight: bold;
	width: 50px;
	height: 36px;
	border-radius: 0rem;
	transform: translate(63px, -47px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-width: 0 0 3px;
}
.chC{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	transform: translate(3px, -45px);
}
.childCount{
	font-family: sans-serif;
	font-size: 21px;
	font-weight: bold;
	width: 50px;
	height: 36px;
	border-radius: 0rem;
	transform: translate(63px, -47px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-width: 0 0 3px;
}
.inC{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	transform: translate(3px, -43px);
}
.infantCount{
	font-family: sans-serif;
	font-size: 21px;
	font-weight: bold;
	width: 50px;
	height: 36px;
	border-radius: 0rem;
	transform: translate(63px, -47px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-width: 0 0 3px;
}
.btn_number.minus{
	font-size: 24px;
	font-weight: bold;
	width: 28px;
	height: 27px;
	border-radius: 2rem;
	transform: translate(15px, -82px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-width: 1px 1px 1px;
	background-color: #ffffff;
}
.btn_number.plus{
	font-size: 19px;
	font-weight: bold;
	width: 28px;
	height: 27px;
	border-radius: 2rem;
	transform: translate(128px, -109px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-width: 1px 1px 1px;
	background-color: #ffffff;	
}
.T{
	transform: translate(21px, -64px);
}

#seat_modal {
    background-color: #fefefe;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    transform: translate(-37px, 144px);
    width: 28%;
    min-height: 43%;
    border-radius: 2rem;
}
.close-btn4 {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: normal;
    transform: translate(458px, -2px);
    cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.SeatF{
	font-family: cursive;
	font-size: 22px;
	font-weight: bold;
	transform: translate(12px, -29px);
	padding: 0%;
	margin: 0%;
	width: 30%;
}
.GenBtn{
	transform: translate(-83px, 22px);
	background-color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	width: 172px;
}
.PreBtn{
	transform: translate(-88px, 22px);
	background-color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	width: 172px;
}
.FirstBtn{
	transform: translate(171px,-11px);
	background-color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	width: 172px;
}
#lan_modal {
    background-color: #ffffff;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    transform: translate(42px, 90px);
    width: 31%;
    min-height: 45%;
    border-radius: 2rem;
    z-index: 1000;
    border-radius: 1rem;
    cursor: pointer;
    
}
.close-btn5 {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: normal;
    transform: translate(523px, -12px);
}
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.overlay{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    z-index: 999; /* 모달보다 한 단계 뒤에 위치 */
}
.lanFont{
	font-family: cursive;
	font-size: 18px;
	font-weight: bold;
}
.K{
	font-family: sans-serif;
	font-size: 13.5px;
	font-weight: normal;
}
.C{
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;
}
.Country{
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
	width: 556px;
	height: 54px;
	border-radius: 1rem;
	transform: translate(-4px, -13px);
}
.L{
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;
	transform: translate(5px, 19px);
}
.Lan{
	font-family: sans-serif;
	font-size: 15px;
	font-weight: normal;
	width: 556px;
	height: 54px;
	border-radius: 1rem;
	transform: translate(-4px, 7px);
}
.language-btn{
	background-color: rgb(0, 37, 108);
	color: #ffffff;
	transform: translate(398px, 377px);
	width: 145px;
	height: 48px;
	border-radius: 2rem;
	font-size: 17px;
	font-weight: bold;
	padding: 13px 52px;
	position: fixed;
	cursor: pointer;	
}
#recom_modal{
	background-color: #ffffff;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    transform: translate(316px, 505px);
    width: 18%;
    min-height: 31%;
    border-radius: 2rem;
    z-index: 1000;
    border-radius: 1rem;
    cursor: pointer;
    position: fixed;
}
.close-btn6 {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: normal;
    transform: translate(273px, -12px);
}
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.RecomFont{
	font-family: cursive;
    font-size: 19px;
    font-weight: 900;
    transform: translate(6px, -45px);
    margin: 0%;
    max-width: 109px;
}
#option1{
	transform: translate(2px, 60px);    
	position: fixed;
    height: 1rem;
    border-radius: 1.8rem;
    border: 1px solid #00256c;
}
.label1{
	transform: translate(-15px, -26px);
    font-size: 15px;
    font-weight: 600;
    padding-left: 3rem;
    line-height: 1.5;
}
#option2{
	transform: translate(2px, 108px);
    position: fixed;
    height: 1rem;
    border-radius: 1.8rem;
    border: 1px solid #00256c;
}
.label2{
	transform: translate(-15px, -27px);
    font-size: 15px;
    font-weight: 600;
    padding-left: 3rem;
    line-height: 1.5;
}
#option3{
	transform: translate(2px, 160px);    
	position: fixed;
    height: 1rem;
    border-radius: 1.8rem;
    border: 1px solid #00256c;
}
.label3{
	transform: translate(-15px, -26px);
    font-size: 15px;
    font-weight: 600;
    padding-left: 3rem;
    line-height: 1.5;
}
#option4{
	transform: translate(2px, 213px);    
	position: fixed;
    height: 1rem;
    border-radius: 1.8rem;
    border: 1px solid #00256c;
}
.label4{
	transform: translate(-15px, -26px);
    font-size: 15px;
    font-weight: 600;
    padding-left: 3rem;
    line-height: 1.5;
}
#option5{
	transform: translate(2px, 263px);    
	position: fixed;
    height: 1rem;
    border-radius: 1.8rem;
    border: 1px solid #00256c;
}
.label5{
	transform: translate(-15px, -26px);
    font-size: 15px;
    font-weight: 600;
    padding-left: 3rem;
    line-height: 1.5;
}
.recom-btn{
	background-color: rgb(0, 37, 108);
    color: #ffffff;
    transform: translate(3px, 296px);
    width: 295px;
    height: 48px;
    border-radius: 1rem;
    font-size: 17px;
    font-weight: bold;
    padding: 13px 132px;
    position: fixed;
    cursor: pointer;
}

#route_modal{
	background-color: #ffffff;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    transform: translate(476px, 505px);
    width: 16%;
    min-height: 27%;
    border-radius: 2rem;
    z-index: 1000;
    border-radius: 1rem;
    cursor: pointer;
    position: fixed;
}
.close-btn7 {
    color: #000000;
    float: right;
    font-size: 35px;
    font-weight: normal;
    transform: translate(238px, -12px);
}
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.RouteFont{
	font-family: cursive;
    font-size: 19px;
    font-weight: 900;
    transform: translate(6px, -45px);
    margin: 0%;
    max-width: 109px;
}
#option2-1{
	transform: translate(2px, 60px);    
	position: fixed;
    height: 1rem;
    border-radius: 1.8rem;
    border: 1px solid #00256c;
}
.label2-1{
	transform: translate(-15px, -26px);
    font-size: 15px;
    font-weight: 600;
    padding-left: 3rem;
    line-height: 1.5;
}
#option2-2{
	transform: translate(2px, 108px);
    position: fixed;
    height: 1rem;
    border-radius: 1.8rem;
    border: 1px solid #00256c;
}
.label2-2{
	transform: translate(-15px, -27px);
    font-size: 15px;
    font-weight: 600;
    padding-left: 3rem;
    line-height: 1.5;
}
#option2-3{
	transform: translate(2px, 160px);    
	position: fixed;
    height: 1rem;
    border-radius: 1.8rem;
    border: 1px solid #00256c;
}
.label2-3{
	transform: translate(-15px, -26px);
    font-size: 15px;
    font-weight: 600;
    padding-left: 3rem;
    line-height: 1.5;
}
.routeM-btn{
	background-color: rgb(0, 37, 108);
    color: #ffffff;
    transform: translate(-3px, 206px);
    width: 267px;
    height: 48px;
    border-radius: 1rem;
    font-size: 17px;
    font-weight: bold;
    padding: 13px 117px;
    position: fixed;
    cursor: pointer;
}

