* {
  box-sizing: border-box;
  
}

.body {
  background-color: #ffffff;
  overflow: scroll;
}
.header-container {
  background-color: #FCE00C;
  height: 8px;
  width: 100%;
}
.site-navD {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
}
.site-navD .site-navigation .site-menu > li > a {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    transform: translate(253px, 4px);
    cursor: pointer;
}
.btn.btn-loginD {
    display: flex;
    padding: 7px 30px;
    justify-content: center;
    height: 41px;
    border-radius: 2rem;
    background: #00256c;
    color: #fff;
    font-size: 0.9rem;
    max-width: 63%;
    transform: translate(1231px, 5px);
}
 .link {
    font-size: 14px;
    font-weight: bold;
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
  }
  
  .nav-arrow {
    color: #fee014;
    font-size: 10px;
    padding-left: 10px;
  }
.sub-nav {
  align-items: center;
  background-color: #FBFBFB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  display: flex;
  height: 62px;
  justify-content: center;
  margin-bottom: 56px;
  width: 100%;  
}

.sub-item {  
    
  > .button {
    color: #666666;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 24px 32px;
    text-decoration: none;
    
    &:hover {
    background-color: #02A7E0;
    color: #F2F2F2;
    cursor: pointer;
    }
  }
}
.route-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
  max-width: 830px;
  padding: 20px;
  width: 100%;
  
  > .origin,
  > .destination {
    color: #666666;
    flex: 0 0 150px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
  
  > .destination {
    text-align: right;
  }
  
  > .icon {
    color: #666666;
    font-size: 32px;
    transform: rotate(90deg);
  }
  
  > .line {
    background-color: #666666;
    display: block;
    height: 1px;
    margin: 0 24px;
    width: 100%;
  }
  
}
.search_btnD{
	transform: translate(429px, -36px);
    cursor: pointer;
    border: 1px solid rgb(5, 23, 102);
    height: 40px;
    width: 230px;
    font-size: 4px;
    border-radius: 9px;
    top: 50%;
    left: 50%;
    position: relative;
    padding: 1px 19px;
}




/* .schedule-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 24px;
    max-width: 855px;
    padding: 0;
    width: 100%;
    transform: 
  
  > .button-right,
  > .button-left {
    background-color: #e4e4e4;
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
    height: 115px;
    max-width: 24px;
    padding: 0;
    width: 100%;
    
    > i {
      color: #5c5c5c;
    }
  }
  
  
  > .button-left {
    transform: scaleX(-1);
  }
 */  
  .sched-grid {
    display: flex;
    list-style: none;
    padding: 8px;
  }

  .sched-column {
    padding: 0 4px;
    max-width: 120px;
    width: 100%;
  }

  .sched-card {
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    padding: 12px 18px;

    &:hover {
      background-color: #fee014;
      
      > .heading {
        color: black;
      }
      
      > .number {
        font-weight: 400;
      }
      
      > .footer > .currency, .price {
        color: black;
      }
    }

    > .heading {
      color: #b8b8b8;
      font-size: 14px;
      font-weight: regular;
      margin-top: 0;
      margin-bottom: 2px;
    }

    > .number {
      color: #4e84c4;
      font-weight: 300;
      font-size: 50px;
      line-height: 1em;
      padding-bottom: 6px;
    }
    
    > .footer {
      text-align: center;
    }

    > .footer p {
      color: #c3c3c3;
      font-size: 11px;
    }
    
    > .body, 
    > .footer {
      margin: 0 auto;
    }
  }
 .wrapper {
    margin-bottom: 20px; /* 각 박스 간의 간격 */
}
  
.flight-svg{
	transform: translate(89px, 10px);
	width: 3115px;
}
.wrapper {
    margin-bottom: 20px; /* 각 박스 간의 간격 */
}


.container1 {
    max-width: 1240px; /* 박스 너비 */
    height: 5.4rem; /* 박스 높이 */
    background-color: #c7f3ff;
    padding: 10px 1326px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-16px, 126px);
}
.container2 {
    max-width: 1272px; /* 박스 너비 */
    height: 5.4rem; /* 박스 높이 */
    background-color: #ffffff;
    padding: 17px 587px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(317px, 41px);
   }
.container3{
	width: 1272px;
    height: 6.5rem;
    background-color: #ffffff;
    padding: 17px 587px;
    border-radius: 10px;
    border-style: solid;
    border-color: #bbb9b9;
    border-width: thin;
    transform: translate(317px, 141px);
}
.container4{
	width: 1272px;
    height: 16.5rem;
    padding: 17px 587px;
    border-radius: 10px;
    border-style: solid;
    border-color: #bbb9b9;
    border-width: thin;
    transform: translate(317px, 93px);
}
.container5{
	max-width: 1240px;
    height: 5.4rem;
    background-color: #ffffff;
    padding: 10px 1326px;
    border-radius: 10px;
    box-shadow: .4rem 0 1.6rem #698aa154;
    transform: translate(-16px, 140px);
}
.totalP{
	transform: translate(-284px, 25px);
    font-size: 1.2rem;
    font-weight: 450;
    position: fixed;
}
.totalP_num{
	transform: translate(-156px, 22px);
    font-size: 1.5rem;
    font-weight: 700;
    position: fixed;
    color: #00256c;
}
.totalP_numW{
	transform: translate(-43px, 27px);
    font-size: 1.2rem;
    font-weight: 700;
    position: fixed;
    color: #00256c;
}
.timeF{
	transform: translate(-546px, 47px);
    font-size: 1.7rem;
    font-weight: 600;
    position: fixed;
}
.nextT-btn{
	display: flex;
    padding: 20px 30px;
    justify-content: center;
    height: 4rem;
    border-radius: 1rem;
    background: #00256c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    width: 16rem;
    transform: translate(12px, 4px);
    position: fixed;
}
.nextT-btn:hover{
	background: #00256c;
    color: #fff;
}
.timeT{
transform: translate(-221px, 47px);
    font-size: 1.7rem;
    font-weight: 600;
    position: fixed;
}
.fligh-d_F{
	transform: translate(-545px, 91px);
    font-size: 0.9rem;
    color: #555;
    position: fixed;
}
.flight-d_T{
	transform: translate(-181px, 91px);
    font-size: 0.9rem;
    color: #555;
    position: fixed;
}
.fight-d_LT{
	transform: translate(-370px, 46px);
    font-size: 0.8rem;
    color: #00256c;
}
.filght-direc_svg{
	transform: translate(-503px, 71px);
	position: fixed;
}
.flightPrice_standard{
	transform: translate(-153px, -18px);
    font-size: 1rem;
    font-weight: 600;
    padding: 112px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: #000000;
    cursor: pointer;
    height: 16.5rem;
    width: 388px;
    text-align: center;
    border: 1.5px #00256c solid;
    border-width: 3px 0.1px 0;
    position: fixed;
}
.flightPrice_flex{
	transform: translate(234px, -18px);
    font-size: 1rem;
    font-weight: 600;
    padding: 112px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: #000000;
    cursor: pointer;
    height: 16.5rem;
    width: 388px;
    text-align: center;
    border: 1.5px #00256c solid;
    border-width: 3px 0.1px 0;
    position: fixed;
}

.flight-svg{
	transform: translate(130px, 10px);
	position: absolute; /* 위치를 고정하여 다른 내용물 앞에 배치 */
    top: -10px; /* 위에서부터의 위치 */
    left: 20px; /* 왼쪽에서부터의 위치 */
    z-index: 10; 
    height: 86px
}
.change-svg{
	transform: translate(-500px, -2px);
    cursor: pointer;
    position: fixed;
    width: 41px;
}
.line{
	position: relative;
	bottom: 10px;
	width: 100px;
}
.selD-btn {
	display: flex;
    align-items: center;
    height: 2.2rem;
    width: 55px;
    border-radius: 0rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0px 0px;
    margin: 0px;
    background-color: #ffffff;
    cursor: pointer;
    transform: translate(-574px, 3px);
    position: fixed;
}
.toD-btn{
	display: flex;
    align-items: center;
    height: 2.3rem;
    width: 55px;
    border-radius: 0rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #ffffff;
    padding: 0px 0px;
    margin: 0px;
    cursor: pointer;
    transform: translate(-454px, -89px);
    position: fixed;
}
.dateD-btn{
	transform: translate(-356px, -85px);
    position: fixed;
    cursor: pointer;
    width: 333px;
}
.dateD-svg{
	transform: translate(-43px, -86px);
	cursor: pointer;
}
.peopleD-btn{
	display: flex;
    align-items: center;
    height: 2.3rem;
    width: 198px;
    border-radius: 0rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: #ffffff;
    padding: 0px 0px;
    margin: 0px;
    cursor: pointer;
    transform: translate(53px, -116px);
    position: fixed;
}
.peoD-svg{
	transform: translate(31px, -114px);
    cursor: pointer;
    width: 26px;
}

.searchD-btn{
	display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: #ffffff;
    border: 1px solid #00256c;
    color: #00256c;
    font-size: 1rem;
    min-width: 7.5rem;
    min-height: 3.3rem;
    cursor: pointer;
    transform: translate(539px, -189px);
    position: fixed;
}
.seatD-btn{
	display: flex;
    align-items: center;
    height: 2.3rem;
    width: 85px;
    border-radius: 0rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: #ffffff;
    padding: 0px 0px;
    margin: 0px;
    cursor: pointer;
    transform: translate(295px, -146px);
    position: fixed;
}
.seatD-svg{
	transform: translate(276px, -144px);
    cursor: pointer;
    width: 26px;
}

.index-btn{
	font-size: 1rem;
    font-weight: 700;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: #00256c;
    transform: translate(1104px, 36px);
    cursor: pointer;
    height: 2.7rem;
    width: 54px;
    text-align: center;
    border-bottom: 3.5px solid;
    /* border-radius: 0rem; */
    position: fixed;
}
.flight-btn{
	font-size: 1rem;
    font-weight: 700;
    padding: 10px 0px;
    display: inline-block;
    text-decoration: none !important;
    color: #00256c;
    transform: translate(1166px, 36px);
    cursor: pointer;
    height: 2.7rem;
    width: 320px;
    text-align: left;
    border-bottom: 3.5px solid;
    /* border-radius: 0rem; */
    position: fixed;
}
.payment-btn{
	font-size: 1rem;
    font-weight: 700;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: #ccc;
    transform: translate(1495px, 36px);
    cursor: pointer;
    height: 2.7rem;
    width: 54px;
    text-align: center;
    border-bottom: 3.5px solid;
    /* border-radius: 0rem; */
    position: fixed;
}
.SelectDate1{
	font-size: 1rem;
    font-weight: 700;
    padding: 40px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: #00256c;
    transform: translate(-588px, -19px);
    cursor: pointer;
    height: 6.6rem;
    width: 183px;
    text-align: center;
    /* border: 1.5px solid; */
    position: fixed;
}
.SelectDate2{
	font-size: 1rem;
    font-weight: 700;
    padding: 40px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: #00256c;
    cursor: pointer;
    height: 6.6rem;
    width: 183px;
    text-align: center;
    /* border: 1.5px solid; */
    transform: translate(-406px, -19px);
    position: fixed;
}
.SelectDate3{
	font-size: 1rem;
    font-weight: 700;
    padding: 40px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: #00256c;
    cursor: pointer;
    height: 6.6rem;
    width: 183px;
    text-align: center;
    /* border: 1.5px solid; */
    position: fixed;
    transform: translate(-224px, -19px);
}
.SelectDate4{
	font-size: 1rem;
    font-weight: 700;
    padding: 40px 80px;
    display: inline-block;
    text-decoration: none !important;
    color: #00256c;
    cursor: pointer;
    height: 6.6rem;
    width: 183px;
    /* border: 1.5px solid; */
    position: fixed;
    transform: translate(-42px, -19px);
}
.SelectDate5{
	font-size: 1rem;
    font-weight: 700;
    padding: 40px 80px;
    display: inline-block;
    text-decoration: none !important;
    color: #00256c;
    cursor: pointer;
    height: 6.6rem;
    width: 183px;
    /* border: 1.5px solid; */
    position: fixed;
    transform: translate(140px, -19px);
}
.SelectDate6{
	font-size: 1rem;
    font-weight: 700;
    padding: 40px 79px;
    display: inline-block;
    text-decoration: none !important;
    color: #00256c;
    cursor: pointer;
    height: 6.6rem;
    width: 182px;
    /* border: 1.5px solid; */
    position: fixed;
    transform: translate(322px, -19px);
}
.SelectDate7{
	font-size: 1rem;
    font-weight: 700;
    padding: 40px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: #00256c;
    cursor: pointer;
    height: 6.6rem;
    width: 182px;
    text-align: center;
    /* border: 1.5px solid; */
    position: fixed;
    transform: translate(503px, -19px);
}
.departure{
	font-size: 1.4rem;
    font-weight: 700;
    padding: 13px 18px;
    text-decoration: none !important;
    color: #00256c;
    transform: translate(310px, 75px);
    cursor: pointer;
    width: 100px;
    text-align: center;
    border: none;
    position: fixed;
}
/* flightarrival.html */
.arrival{
	font-size: 1.4rem;
    font-weight: 700;
    padding: 13px 18px;
    text-decoration: none !important;
    color: #00256c;
    transform: translate(310px, 75px);
    cursor: pointer;
    width: 100px;
    text-align: center;
    border: none;
    position: fixed;
}
.nonmember{
	display: flex;
    padding: 20px 30px;
    justify-content: center;
    height: 4rem;
    border-radius: 1rem;
    border-color: #f3f4f8;
    background: #f3f4f8;
    color: #00256c;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    width: 16rem;
    transform: translate(-255px, 4px);
    position: fixed;
}
.member{
	display: flex;
    padding: 20px 30px;
    justify-content: center;
    height: 4rem;
    border-radius: 1rem;
    background: #00256c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    width: 16rem;
    transform: translate(12px, 4px);
    position: fixed;
}
.totalP_A{
	transform: translate(-496px, 25px);
    font-size: 1.2rem;
    font-weight: 450;
    position: fixed;
}
.totalP_num_A{
	transform: translate(-413px, 22px);
    font-size: 1.5rem;
    font-weight: 700;
    position: fixed;
    color: #00256c;
}
.totalP_numW_A{
	transform: translate(-298px, 27px);
    font-size: 1.2rem;
    font-weight: 700;
    position: fixed;
    color: #00256c;
}
.departureSel{
	transform: translate(409px, 93px);
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 0px;
    text-decoration: none !important;
    color: #00256c;
    border: none;
    position: fixed;
}
.departureTo{
	transform: translate(640px, 72px);
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 0px;
    text-decoration: none !important;
    color: #00256c;
    border: none;
    position: fixed;
}
.flightD-svg{
	transform: translate(601px, 94px);
    width: 35px;
}
.economy_btn{
	font-weight: bold;
    display: flex;
    padding: 18px 50px;
    justify-content: center;
    line-height: 0.54;
    min-height: 3rem;
    border-radius: 2rem;
    background: #00256c;
    color: #fff;
    font-size: 1.1rem;
    border: 1px solid #d9dbe1;
    cursor: pointer;
    width: 400px;
    transform: translate(317px, 152px);
}
.prestige_btn{
	font-weight: bold;
    display: flex;
    padding: 18px 50px;
    justify-content: center;
    line-height: 0.54;
    min-height: 3rem;
    border-radius: 2rem;
    background: #fff;
    color: #00256c;
    font-size: 1.1rem;
    border: 1px solid #d9dbe1;
    cursor: pointer;
    width: 400px;
    transform: translate(754px, 104px);
}
.first_btn{
	font-weight: bold;
    display: flex;
    padding: 18px 50px;
    justify-content: center;
    line-height: 0.54;
    min-height: 3rem;
    border-radius: 2rem;
    background: #fff;
    color: #00256c;
    font-size: 1.1rem;
    border: 1px solid #d9dbe1;
    cursor: pointer;
    width: 400px;
    transform: translate(1188px, 56px);
}
.recommend-btn{
	display: flex;
    align-items: center;
    border: 1px solid #767676;
    font-size: 1rem;
    font-weight: 400;
    background-color: #ffffff;
    margin: 0px;
    border-radius: 1rem;
    cursor: pointer;
    transform: translate(319px, 51px);
    width: 148px;
    padding: 0px 2.8rem 0 1.2rem;
    height: 2.7rem;
    position: fixed;
}
.down-svg{
	transform: translate(418px, 87px);
    cursor: pointer;
    position: fixed;
    width: 40px;
}

.route-btn{
	display: flex;
    align-items: center;
    border: 1px solid #767676;
    font-size: 1rem;
    font-weight: 400;
    background-color: #ffffff;
    margin: 0px;
    border-radius: 1rem;
    cursor: pointer;
    transform: translate(475px, 51px);
    width: 148px;
    padding: 0px 2.8rem 0 1.2rem;
    height: 2.7rem;
    position: fixed;
}
.down-svg2{
	transform: translate(575px, 87px);
    cursor: pointer;
    position: fixed;
    width: 40px;
}
html {
  font-family: sans-serif;
}

.flights-container {
  width: 100%;
  text-align: center;
  transform: translate(10px, 211px);
}
.flight-date {
  font-size: 0.8em;
}
.flight-container {
  padding: 5px;
  display: flex;
  border: 1px solid black; 
  margin: 10px;
}

.flight-container > div {
  padding: 10px 0;
/*   margin: 0px; */
  margin: auto; 
 justify-content: center;
}
div.flight-price-container {
  padding-top: 2px;
}
svg#plane {
  width: 30px;
  opacity: 0.5;
}
.label {
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: 1.2;
}
.airport {
  font-size: 2rem;
}
.city {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.flight-type {
  font-size: 0.7em;
}
.flight-escale {
  font-size: 0.7em;
}
.flight-price {
  color: #378302;
  font-weight: bold;
}
flight-logo {
  padding: 0;
  margin: 0;
}
.flight-book {
  background-color: white;
  color: #4caf50;
  border: 2px solid #4caf50;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 15px 5px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

span.flag {
  width: 22px;
  height: 15px;
  display: inline-block;
  margin-right:2px;
}
img.flag {
  width: 22px;
}
.flag {
      border: 1px solid #f9f9f9;
    border-radius: 3px;
  margin:4px;
  background: url(https://raw.githubusercontent.com/SlavkoPekaric/Country-Flags-Responsive-CSS-Sprite/master/img/flags_responsive.png)
    no-repeat;
  background-size: 100%;
}
.flag-ad {
  background-position: 0 0.413223%;
}
.flag-ae {
  background-position: 0 0.826446%;
}
.flag-af {
  background-position: 0 1.239669%;
}
.flag-ag {
  background-position: 0 1.652893%;
}
.flag-ai {
  background-position: 0 2.066116%;
}
.flag-al {
  background-position: 0 2.479339%;
}
.flag-am {
  background-position: 0 2.892562%;
}
.flag-an {
  background-position: 0 3.305785%;
}
.flag-ao {
  background-position: 0 3.719008%;
}
.flag-aq {
  background-position: 0 4.132231%;
}
.flag-ar {
  background-position: 0 4.545455%;
}
.flag-as {
  background-position: 0 4.958678%;
}
.flag-at {
  background-position: 0 5.371901%;
}
.flag-au {
  background-position: 0 5.785124%;
}
.flag-aw {
  background-position: 0 6.198347%;
}
.flag-az {
  background-position: 0 6.61157%;
}
.flag-ba {
  background-position: 0 7.024793%;
}
.flag-bb {
  background-position: 0 7.438017%;
}
.flag-bd {
  background-position: 0 7.85124%;
}
.flag-be {
  background-position: 0 8.264463%;
}
.flag-bf {
  background-position: 0 8.677686%;
}
.flag-bg {
  background-position: 0 9.090909%;
}
.flag-bh {
  background-position: 0 9.504132%;
}
.flag-bi {
  background-position: 0 9.917355%;
}
.flag-bj {
  background-position: 0 10.330579%;
}
.flag-bm {
  background-position: 0 10.743802%;
}
.flag-bn {
  background-position: 0 11.157025%;
}
.flag-bo {
  background-position: 0 11.570248%;
}
.flag-br {
  background-position: 0 11.983471%;
}
.flag-bs {
  background-position: 0 12.396694%;
}
.flag-bt {
  background-position: 0 12.809917%;
}
.flag-bv {
  background-position: 0 13.22314%;
}
.flag-bw {
  background-position: 0 13.636364%;
}
.flag-by {
  background-position: 0 14.049587%;
}
.flag-bz {
  background-position: 0 14.46281%;
}
.flag-ca {
  background-position: 0 14.876033%;
}
.flag-cc {
  background-position: 0 15.289256%;
}
.flag-cd {
  background-position: 0 15.702479%;
}
.flag-cf {
  background-position: 0 16.115702%;
}
.flag-cg {
  background-position: 0 16.528926%;
}
.flag-ch {
  background-position: 0 16.942149%;
}
.flag-ci {
  background-position: 0 17.355372%;
}
.flag-ck {
  background-position: 0 17.768595%;
}
.flag-cl {
  background-position: 0 18.181818%;
}
.flag-cm {
  background-position: 0 18.595041%;
}
.flag-cn {
  background-position: 0 19.008264%;
}
.flag-co {
  background-position: 0 19.421488%;
}
.flag-cr {
  background-position: 0 19.834711%;
}
.flag-cu {
  background-position: 0 20.247934%;
}
.flag-cv {
  background-position: 0 20.661157%;
}
.flag-cx {
  background-position: 0 21.07438%;
}
.flag-cy {
  background-position: 0 21.487603%;
}
.flag-cz {
  background-position: 0 21.900826%;
}
.flag-de {
  background-position: 0 22.31405%;
}
.flag-dj {
  background-position: 0 22.727273%;
}
.flag-dk {
  background-position: 0 23.140496%;
}
.flag-dm {
  background-position: 0 23.553719%;
}
.flag-do {
  background-position: 0 23.966942%;
}
.flag-dz {
  background-position: 0 24.380165%;
}
.flag-ec {
  background-position: 0 24.793388%;
}
.flag-ee {
  background-position: 0 25.206612%;
}
.flag-eg {
  background-position: 0 25.619835%;
}
.flag-eh {
  background-position: 0 26.033058%;
}
.flag-er {
  background-position: 0 26.446281%;
}
.flag-es {
  background-position: 0 26.859504%;
}
.flag-et {
  background-position: 0 27.272727%;
}
.flag-fi {
  background-position: 0 27.68595%;
}
.flag-fj {
  background-position: 0 28.099174%;
}
.flag-fk {
  background-position: 0 28.512397%;
}
