* {
  box-sizing: border-box;
  
}

.body {
  background-color: #ffffff;
}
.header-container {
  background-color: #FCE00C;
  height: 8px;
  width: 100%;
}
 .link {
    font-size: 14px;
    font-weight: bold;
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
  }
  
  .nav-arrow {
    color: #fee014;
    font-size: 10px;
    padding-left: 10px;
  }
.sub-nav {
  align-items: center;
  background-color: #FBFBFB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  display: flex;
  height: 62px;
  justify-content: center;
  margin-bottom: 56px;
  width: 100%;  
}

.sub-item {  
    
  > .button {
    color: #666666;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 24px 32px;
    text-decoration: none;
    
    &:hover {
    background-color: #02A7E0;
    color: #F2F2F2;
    cursor: pointer;
    }
  }
}
.route-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 0;
  max-width: 830px;
  padding: 20px;
  width: 100%;
  
  > .origin,
  > .destination {
    color: #666666;
    flex: 0 0 150px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
  
  > .destination {
    text-align: right;
  }
  
  > .icon {
    color: #666666;
    font-size: 32px;
    transform: rotate(90deg);
  }
  
  > .line {
    background-color: #666666;
    display: block;
    height: 1px;
    margin: 0 24px;
    width: 100%;
  }
  
}

.container6{
	max-width: 1240px;
    height: 16rem;
    background: linear-gradient(310deg, #1670B5 11.1%, #2941B5 87.61%);
    padding: 10px 1326px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-16px, -8px);
}
.container7{
	width: 1341px;
    height: 43rem;
    background: #ffffff;
    /* padding: 10px 1326px; */
    padding: 6rem 10.6rem;
    border-radius: 10px;
    transform: translate(321px, -153px);
    box-shadow: 0 5px 10px #0000001a;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.login_join-copy{
	font-size: 2.7rem;
    font-weight: 650;
    padding: 13px 18px;
    color: #00256c;
    transform: translate(-781px, 7px);
    cursor: pointer;
    max-width: 323px;
    text-align: left;
    border: none;
    position: fixed;
    line-height: 1.5;
}
.login_join-subcopy{
	max-width: 309px;
    font-size: 1.4rem;
    color: #00256c;
    font-feature-settings: "clig" off, "liga" off;
    font-weight: 400;
    line-height: 1.5;
    margin: 2rem 0rem 7rem;
    height: 1px;
    transform: translate(-812px, 201px);
}
.login_F{
	transform: translate(-977px, 49px);
    font-size: 2rem;
    font-weight: 500;
    color: #FFFFFF;
    position: fixed;
}
.login_divider{
	display: block;
    width: 1.3px;
    border: 0;
    background-color: #d9dbe1;
    transform: translate(5px, -8px);
}
.join-btn{
	display: flex;
    padding: 17px 30px;
    justify-content: center;
    height: 3.8rem;
    border-radius: 1rem;
    background: #fff;
    color: #00256c;
    font-size: 1.2rem;
    font-weight: 800;
    border: 1px solid #00256c;
    cursor: pointer;
    width: 14rem;
    transform: translate(-842px, 341px);
    position: fixed;
}
.login_id{
	font-size: 1rem;
    font-weight: 650;
    height: 2rem;
    color: #767676;
    transform: translate(373px, 34px);
}
.id_text{
	transform: translate(141px, -172px);
    cursor: pointer;
    border-color: #000000;
    border-width: 0 0 1px;
    height: 2.7rem;
    width: 370px;
    border-radius: 0rem;
    top: 50%;
    left: 50%;
    position: fixed;
}
.login_password{
	font-size: 1rem;
    font-weight: 650;
    height: 2rem;
    color: #767676;
    transform: translate(643px, 166px);
}
.pass_text{
	transform: translate(141px, -48px);
    cursor: pointer;
    border-color: #000000;
    border-width: 0 0 1px;
    height: 2.7rem;
    width: 370px;
    border-radius: 0rem;
    top: 50%;
    left: 50%;
    position: fixed;
}
.login_btn{
	display: flex;
    padding: 17px 30px;
    justify-content: center;
    height: 3.8rem;
    border-radius: 1rem;
    background: #00256c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    border: 1px solid #00256c;
    cursor: pointer;
    width: 24rem;
    transform: translate(23px, 300px);
    position: fixed;
}
.login_btn:hover{
	background: #00256c;
    color: #fff;
}
.gnb-book_buttonL{
	font-size: 21.6px;
    font-weight: 400;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    transform: translate(593px, -85px);
    height: 101px;
    width: 130px;
    border-width: 0;
    border-color: #4771bf;
    background: #ffffff;
    position: absolute;
}
.gnb-travel_buttonL {
    font-size: 21.6px;
    font-weight: 400;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    transform: translate(735px, -85px);
    height: 101px;
    width: 130px;
    border-width: 0;
    border-color: #4771bf;
    background: #ffffff;
    position: absolute;
}
.gnb-skypass_buttonL {
    font-size: 21.6px;
    font-weight: 400;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none !important;
    color: rgb(0, 0, 0);
    transform: translate(901px, -85px);
    height: 101px;
    width: 130px;
    border-width: 0;
    border-color: #4771bf;
    background: #ffffff;
    position: absolute;
}
.listItem{
	position: relative;
    left: -8px;
    transform: translateY(1px);
}