* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.container20{
	width: 1330px;
    height: 66px;
    background-color: #00256c;
    padding: 17px 587px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 10;
}
.back_svg{
    transform: translateX(-550px) translateY(-4px);
    z-index: 10;
}
.back_btn {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    width: 265px;
    transform: translate(-595px, -49px);
    position: fixed;
    z-index: 5;
    text-decoration: none;
}

.pre {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 1rem;
    background: #00256c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    max-width: 10%;
    position: fixed;
    text-decoration: none;
    transform: translateY(-49px);
}
.container21{
	width: 1330px;
    height: 15rem;
    background-color: #ffffff;
    padding: 17px 587px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translate(738px, -198px);
}
.planT {
 	transform: translate(-533px, 5px);
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
}
.deparT{
	transform: translate(-401px, -60px);
    position: absolute;
    z-index: 10;
    color: #000000;
    font-size: 21.4px;
    font-weight: 700;
}
.arriT{
	transform: translate(-310px, -60px);
    position: absolute;
    z-index: 10;
    color: #000000;
    font-size: 21.4px;
    font-weight: 700;
}
.icon{
	transform: translate(-348px, -57px);
    position: absolute;
}
.before_btn{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 1rem;
    color: #767676;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    text-align: right;
    width: 132px;
    padding: 5px 0px;
    transform: translate(451px, -102px);
    position: fixed;
    z-index: 5;
    text-decoration: none;
}
.before_svg{
    transform: translate(431px, -63px);
}
.v-line1{
	border-left: 2.4px solid #DCDCDC;
    height: 13px;
    position: absolute;
    transform: translate(582px, -85px);
}
.next_btn{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 1rem;
    color: #00256c;
    font-size: 1.1rem;
    font-weight: 645;
    cursor: pointer;
    text-align: left;
    width: 121px;
    transform: translate(594px, -102px);
    padding: 6px 0px;
    position: fixed;
    z-index: 5;
    text-decoration: none;
}
.next_svg{
	transform: translate(640px, -63px);
}
.seatHeader{
    transform: translate(-587px, -19px);
    width: 196px;
    height: 62px;
    border-radius: 14px 0 0 0;
}
.gps_svg{
    transform: translate(-568px, -60px);
}


.line1{
    transform: translate(-587px, -58px);
    width: 1331px;
    border: 0px;
    border-top: 0.1px dashed #dcdcdc;
    position: absolute;
}
.flightN{
	transform: translate(-47px, 18px);
    position: absolute;
    z-index: 10;
    color: #00256c;
    font-size: 18px;
    font-weight: 700;
}
.flightNum{
	transform: translate(54px, 19px);
    position: absolute;
    z-index: 10;
    color: #555;
    font-size: 16px;
    font-weight: 340;
    text-decoration: underline;
}
.v-line2{
	border-left: 2.4px solid #DCDCDC;
    height: 13px;
    position: absolute;
    transform: translate(107px, -10px);
}
.dateTime{
	transform: translate(45px, -10px);
    position: absolute;
    z-index: 10;
    color: #555;
    font-size: 16px;
    font-weight: 340;
}
.depar{
	display: flex;
    align-items: center;
    height: 5.2rem;
    width: 132px;
    border-radius: 2rem;
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    max-width: 41%;
    transform: translate(-328px, 3px);
    position: fixed;
}
.airline_svg1{
    transform: translate(-98px, 56px);
}
.air_line1{
	transform: translate(-1px, 33px);
	width: 100px;
    border: 0px;
    border-top: 3px dotted #c7f3ff;
    position: absolute;	
}
.airline_svg2{
    transform: translate(98px, 56px);
}
.air_line2{
	transform: translate(117px, 33px);
	width: 100px;
    border: 0px;
    border-top: 3px dotted #c7f3ff;
    position: absolute;	
}

.center_svg{
	text-align: center;
    transform: translate(0, 56px);
}
.arri{
	display: flex;
    align-items: center;
    height: 5.2rem;
    width: 132px;
    border-radius: 2rem;
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    transform: translate(413px, 4px);
}
.plane-container {
  width: 45rem;
  min-height: 56rem;
  background-color: transparent;
}

.plane {
	position: absolute;
    width: 32rem;
    height: 79rem;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(235px, 43px);
    margin: 0 auto;
    background-color: #eeeeeeee;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #555;
    border-radius: 0px 0px 200px 200px;
    align-items: center;
    padding: 2rem 0;
    box-shadow: 0 0 2rem 2rem #f0f0f0;
    z-index: 5;
}

.window-line {
    position: absolute;
    top: 6.5rem;
    width: 0.2rem;
    height: 51rem;
    transform: translate(0px, 1px);
    background-color: #00256c;
}

.window-line--left {
  left: -2px;
}

.window-line--right {
  right: -2px;
}

.plane-wings {
	position: absolute;
    top: 6.5rem;
    width: 4.7rem;
    height: 58.6rem;
    background-image: linear-gradient(to left bottom, #eeeeeeee, #eeeeeeee);
    clip-path: polygon(0 3%, 100% 0%, 100% 87%, 0% 88%);
    border: 1px solid #D3D3D3;
}

.plane-wings--left {
  left: -4.8rem;
}
.plane-wings--right {
  right: -4.8rem;
  transform: rotateY(-180deg);
}



.row-map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat-mapA{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
	transform: translate(-85px, 10px);
}
.seat-mapB{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    transform: translate(-78px, 10px);
}
.seat-mapC{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    transform: translate(-70px, 10px);
}
.seat-mapD{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    transform: translate(-13px, 10px);
}
.seat-mapE{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    transform: translate(-5px, 10px);
}
.seat-mapF{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    transform: translate(4px, 10px);
}
.seat-mapG{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    transform: translate(10px, 10px);
}
.seat-mapH{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    transform: translate(66px, 10px);
}
.seat-mapJ{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    transform: translate(75px, 10px);
}
.seat-mapK{
	text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-image: #f6f6f6;
    width: 2rem;
    height: 2rem;
    border: 2px solid #eeeeee;
    transform: translate(81px, 10px);
}

.seat-map:nth-of-type(4) {
  margin-left: 3rem;
}
.seat-map:nth-of-type(7) {
  margin-right: 3rem;
}

.seat-map:nth-of-type(n + 4):nth-of-type(-n + 7) {
  margin-bottom: 1rem;
}

.row {
	display: flex;
	align-items: unset;
	justify-content: center;
	position: relative;
	gap: 0px;
	padding: 10px 9px;
	transform: translate(5px, 10px);
}
.seat-number {
	background-color: transparent;
	position: absolute;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 300;
    padding: 10px 10px;
}

.seat-number--left {
  right: 22rem;
}

.seat-number--right {
  left: 21rem;
}

.seat {
	background-color: #00256c;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #eeeeeeee;
    transform: translate(-4px, -2px);
    cursor: pointer;
    
}
.seatG{
	background-color: #00256c;
    width: 29px;
    height: 29px;
    border: 2px solid #eeeeeeee;
    transform: translate(-85px, 43px);
    cursor: pointer;
}
.seat.selectedG{
	background-color: #00256c;
    width: 29px;
    height: 29px;
    border: 2px solid #eeeeeeee;
    transform: translate(28px, 45px);
    cursor: pointer;
}
.seat.occupiedG{
	background-color: #eeeeee;
    width: 29px;
    height: 29px;
    border: 2px solid #eeeeeeee;
    transform: translate(-143px, 140px);
    cursor: pointer;
}


.selected {
  background-color: #5cb85c;
}

.occupied {
  background-color: #c9c9c9;
  cursor: default;
}

.seat:nth-of-type(5) {
  margin-left: 3rem;
}

.seat:nth-of-type(8) {
  margin-right: 3rem;
}

.seat:nth-of-type(n + 5):nth-of-type(-n + 8) {
  margin-bottom: 1rem;
}

.state1{
	position: fixed;
    top: 25rem;
    right: 12%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translate(-1077px, -348px);
    border: 1px solid #d9dbe1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 20rem;
    height: 8rem;
    padding: 2rem 0;
}
.passenger{
	transform: translate(0px, -32px);
    position: absolute;
    z-index: 10;
    color: #000000;
    font-size: 17px;
    font-weight: 650;
    text-align: left;
    padding: 24px 22px;
    width: 317.5px;
    height: 61px;
    background-color: #F0F8FF;
    border: 1px solid #f8f9fc;
    border-radius: 17px 17px 0 0;
}
.passName{
	transform: translate(-117px, 49px);
    color: #00256c;
    font-size: 19px;
    font-weight: 700;
}
.passSvg{
	transform: translate(13px, 9px);
}
.state {
    position: fixed;
    top: 25rem;
    right: 12%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translate(-1078px, -197px);
    border: 1px solid #d9dbe1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    width: 20rem;
    height: 31rem;
    padding: 2rem 0;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
}
.seat_guide{
	transform: translate(-115px, -64px);
    position: absolute;
    z-index: 10;
    color: #000000;
    font-size: 19px;
    font-weight: 700;
    text-align: left;
    padding: 24px 22px;
    width: 318px;
    height: 70px;
    background-color: #F0F8FF;
    border: 1px solid #f8f9fc;
    border-radius: 17px 17px 0 0;
}
.seatT{
	transform: translate(-53px, 22px);
	position: absolute;
}
.selectedT{
	transform: translate(44px, 54px);
	position: absolute;
}
.occupiedT{
	transform: translate(-125px, 147px);
	position: absolute;
}
.information{
	transform: translate(0, -22px);
    text-align: center;
}
.line2{
	transform: translate(0, 87px);
    width: 253px;
    border: 0px;
    border-top: 0.25px dashed #d9dbe1;
    text-align: center;
}

.toiletS{
	transform: translate(-113px, 85px);
    position: relative;
}
.toiletT{
	transform: translate(-64px, 262px);
    position: absolute;
}
.galleyS{
	transform: translate(28px, -52px);
}
.galleyT{
	transform: translate(71px, 262px);
    position: absolute;
}
.line3{
	transform: translate(0, 87px);
    width: 253px;
    border: 0px;
    border-top: 0.25px dashed #d9dbe1;
    text-align: center;
}

.showcase li {
  text-align: center;
}
.container19{
	max-width: 1272px;
    height: 5.4rem;
    background-color: #ffffff;
    padding: 17px 587px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(317px, 41px);
}
.site-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
	transform: translate(10px, 519px);
}
.toilet1{
  transform: translate(-226px, 4px);
}
.space1{
  transform: translate(-226px, 20px);
}
.toilet2{
  transform: translate(230px, -64px);
}
.space2{
  transform: translate(230px, -48px);
}

.galley{
	transform: translate(10px, 11px);
    padding: 4px 143px;
}
.galley1{
	transform: translate(-40px, -37px);
}
.galley2{
	transform: translate(-0px, -71px);
	position: sticky;
}
.galley3{
	transform: translate(39px, -105px);
	position: sticky;
}
.container{
	max-width: 1240px;
    height: 5.4rem;
    background-color: #ffffff;
    padding: 10px 1326px;
    border-radius: 10px;
    box-shadow: .4rem 0 1.6rem #698aa154;
    transform: translate(-16px, 140px);
}
.finBtn{
	display: flex;
    padding: 20px 30px;
    justify-content: center;
    height: 4rem;
    border-radius: 1rem;
    background: #00256c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    width: 16rem;
    transform: translate(375px, 4px);
    position: fixed;
    text-decoration: none;
}
.container{
	max-width: 1240px;
    height: 5.4rem;
    background-color: #ffffff;
    padding: 10px 1326px;
    border-radius: 10px;
    box-shadow: .4rem 0 1.6rem #698aa154;
    transform: translate(106px, 488px);
    position: fixed;
    z-index: 10;
    bottom: 488px;
}
.blank{
	height: 5.4rem;
    transform: translate(12px, 1479px);
    border-color: #000000;
    padding: 107px 738px;
}